<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><%= image_tag "aologo.png" %></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="!#">Home</a><div class="hover"></div></li>
      <li><a href="!#">Services</a><div class="hover"></li>
      <li><a href="!#">Gallery</a><div class="hover"></li>
      <li><a href="!#">About</a><div class="hover"></li>
      <li><a href="!#">Contact us</a><div class="hover"></li>
    </ul>
  </div>
</nav>

<div class="main-image">
  <%= image_tag "boat_house.jpg" %>
  <div class="main-image-text">
    <h1>Airborne Optics</h1>
    <h2>Putting your business above the rest</h2>
  </div>
</div>

<div class="services">
  <div class="wrapper">
    <div class="services-header">
      <h2>Services we offer</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis nisi at libero semper lacinia.</h3>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <i class="material-icons activator camera">camera</i>
            </img>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aerial Photography<i class="material-icons right">more_vert</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aerial Photography<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <i class="material-icons activator videocam">videocam</i>
            </img>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aerial Videography<i class="material-icons right">more_vert</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aerial Videography<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <i class="material-icons activator inspection">remove_red_eye</i>
            </img>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Visual Inspection<i class="material-icons right">more_vert</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Visual Inspection<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <i class="material-icons activator editing">theaters</i>
            </img>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Video Editing<i class="material-icons right">more_vert</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Video Editing<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gallery">
  <div class="container">
    <div class="gallery-header">
      <h2>Gallery</h2>
    </div>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
    <%= image_tag "warkworth_castle.jpg", class: "materialboxed" %>
  </div>
</div>

<div class="about">
  <div class="container">
    <h2>A little bit about us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in dui hendrerit, facilisis libero quis, tristique dolor. Proin malesuada purus sed felis hendrerit, at tincidunt ipsum faucibus. Aenean vitae porta mauris. Cras fringilla tortor quis nisi gravida condimentum ut sit amet quam. Donec sed quam augue. Phasellus ut hendrerit ante, sit amet elementum mauris. Nunc mattis sollicitudin massa, ut cursus odio facilisis nec. Donec dignissim lectus quis erat ultricies, eu aliquet ligula ultricies. Nunc sagittis neque arcu, in porttitor sem ultricies id. Cras euismod urna euismod libero sollicitudin tincidunt. Aliquam accumsan eu turpis at dignissim. Donec at ligula egestas, pulvinar libero sit amet, varius augue. Vestibulum ac lectus lorem. Nulla congue lacus felis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in dui hendrerit, facilisis libero quis, tristique dolor. Proin malesuada purus sed felis hendrerit, at tincidunt ipsum faucibus. Aenean vitae porta mauris. Cras fringilla tortor quis nisi gravida condimentum ut sit amet quam. Donec sed quam augue. Phasellus ut hendrerit ante, sit amet elementum mauris. Nunc mattis sollicitudin massa, ut cursus odio facilisis nec. Donec dignissim lectus quis erat ultricies, eu aliquet ligula ultricies. Nunc sagittis neque arcu, in porttitor sem ultricies id. Cras euismod urna euismod libero sollicitudin tincidunt. Aliquam accumsan eu turpis at dignissim. Donec at ligula egestas, pulvinar libero sit amet, varius augue. Vestibulum ac lectus lorem. Nulla congue lacus felis.</p>
  </div>
</div>

<div class="contact">
  <%= image_tag "contact_bg" %>
  <div class="row">
    <h2>Contact us</h2>
    <div class="contact-form">
      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">...First Name</label>
        </input>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">...Email</label>
        </input>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">...Contact number</label>
        </input>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="message" class="validate materialize-textarea"></textarea>
        <label for="message">...Message</label>
      </div>
      <a class="waves-effect waves-light btn-large">SEND</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="social">
  <p>sad;fjkdsf</p>
  </div>
</div>
